:root{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    --accent-color: #10b981;
    --secondary-color: #e2e8f0;
    --main-color: #020617;
}

body {
    width: 100vw;
}

#content{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 120px;

}

.header{
    grid-column: 1/ -1;
    grid-row: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 20px 60px 20px; 

    font-size: 40px;
    color: var(--main-color);
    font-weight: bold;

    background-color: var(--accent-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.sidebar{
    min-height: calc(100vh - 120px);
    grid-column: 1;
    grid-row: 2;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    background-color: #020617;
}

.sidebar > div{
    display: flex;
    flex-direction: column;
    width: 100%;

    display: grid;
    place-items: center;
    padding: 30px;
    gap: 15px
}

#project {
    width: 100%;
    display: grid;
    place-items: center;
}

.sidebar-top > button,
.sidebar-bottom > button,
#project > button {
    width: 80%;
    height: 40px;

    color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;

    background-color: black;
    border-radius: 10px;

    font-weight: bold;
    font-size: 16px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
    align-items: center;

}

.sidebar-top > button > img,
.sidebar-bottom > button > img {
    height: 80%;
    width: auto;
}

.main-page{
    grid-column: 2;
    grid-row: 2;

    background-color: var(--secondary-color);
}