:root{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
}

.content{
    display: grid;
    grid-template-columns: minmax(150px 1fr) minmax(500px 4fr);
    grid-template-rows: 150px 1fr;

}

.header{
    grid-column: 1/2;
    grid-row: 1;
}

.sidebar{
    grid-column: 1;
    grid-row: 1/2;
    
}

.main-page{
    grid-column: 2;
    grid-row: 2;
}