/* Main functions */
:root{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    --accent-color: #10b981;
    --secondary-color: #e2e8f0;
    --main-color: #020617;
}

body {
    width: 100vw;
}

#content{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 120px;

}

button:hover {
    transition: 0.5;
    transform: scale(1.05);
    cursor: pointer;
}

/* Everything header */
.header{
    grid-column: 1/ -1;
    grid-row: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 20px 60px 20px; 

    font-size: 40px;
    color: var(--main-color);
    font-weight: bold;

    background-color: var(--accent-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.sidebar{
    min-height: calc(100vh - 120px);
    grid-column: 1;
    grid-row: 2;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    background-color: #020617;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* Sidebar */
.sidebar > div{
    display: flex;
    flex-direction: column;
    width: 100%;

    display: grid;
    place-items: center;
    padding: 30px;
    gap: 15px;

}

#project {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 5px;
}

.sidebar-top > button,
.sidebar-bottom > button,
#project > button {
    width: 80%;
    height: 40px;

    color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;

    background-color: black;
    border-radius: 10px;

    font-weight: bold;
    font-size: 16px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
    align-items: center;

}

.sidebar-top > button > img,
.sidebar-bottom > button > img {
    height: 80%;
    width: auto;
}

/* Main Page */
.main-page{
    grid-column: 2;
    grid-row: 2;

    background-color: var(--secondary-color);
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

#todo-form,
#project-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-page > h1 {
    margin: 0;
    text-transform: uppercase;
}


#project-submit,
#todo-button{
    background-color: var(--accent-color);
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--main-color);
    color: var(--main-color);

    height: 50px;
    width: 150px;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


